@model DigitalMind.YoYoApp.Application.ViewModel.AthleteViewModel


<div class="row">
    <div class="col-12">
        <table id="tblathlete" class="table table-sm table-striped table-hover border-bottom">
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {




        var getAthletes = function (athleteId, testresult) {
            var shuttleNo = $("#shuttlenumber").text()
            var speedlevel = $("#shuttlespeedlevel").text()

            $.get("/Home/GetUpdatedAthleteViewModel",
                {
                    athleteId: athleteId,
                    testresult: testresult,
                    shuttlenumber: shuttleNo,
                    shuttlespeedlevel: speedlevel
                },
                function (data) {

                    $("#tblathlete tbody tr").remove();
                    var items = '';

                    var body = "<tbody> </tbody>";
                    $('#tblathlete').append(body);

                    $.each(data.athletes, function (i, item) {
                        var row = '';
                        
                        if (item.shuttleState == 'Start') {

                            row = "<tr>" +
                                "<td>" + item.name + "</td>" +

                                "<td><input type='button' class='btn btn-outline-primary' style='width: 80px; height: 25px;' value='Warn' data-id='" + item.id + "' data-value='warn' /></td>" +
                                "<td><input type='button'  class='btn btn-outline-danger' style='width: 80px; height: 25px;' value='Stop' data-id='" + item.id + "'  data-value='stop'  /></td>" +
                                "</tr>";
                        }
                        else if (item.shuttleState == 'warn') {
                            row = "<tr>" +
                                "<td>" + item.name + "</td>" +
                                "<td><input type='button' class='btn btn-outline-danger' style='width: 80px; height: 25px;' value='Stop' data-id='" + item.id + "'  data-value='stop'  /></td>" +
                                "</tr>";
                        }
                        else if (item.shuttleState == 'stop') {
                            var s = '<select>';
                            $.each(item.finishedShuttles, function (j, shuttle) {
                                var option = '';
                                if (shuttle.shuttleNo == shuttleNo
                                    && shuttle.speedLevel == speedlevel) {
                                    option = "<option selected>" + shuttle.shuttleNo + "-" + shuttle.speedLevel + "</option>"
                                }
                                else {
                                    option = "<option>" + shuttle.shuttleNo + "-" + shuttle.speedLevel + "</option>"
                                }

                                s = s + (option);

                            });
                            s = s + "</select>";
                            row = "<tr>" +
                                "<td>" + item.name + "</td>" +
                                "<td>" + s + "</td>" +
                                "</tr>";
                        }

                        $('#tblathlete').append(row);
                    });
                });
        };

        $(document).on("click", "tr input[value=Warn],input[value=Stop]", function () {
            var dataID = $(this).attr("data-id");
            var datavval = $(this).attr("data-value");
            getAthletes(dataID, datavval);
        });

        getAthletes(0, "start");


    });
</script>