@model DigitalMind.YoYoApp.Application.ViewModel.AthleteViewModel


<div class="row">
    <div class="col-12">
        <table id="tblathlete" class="table table-sm table-striped table-hover border-bottom">
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
