@model DigitalMind.YoYoApp.Application.ViewModel.StopWatchViewModel

<h3>Shuttle</h3>
<div class="row">
    <div class="col-md-4">
        <form>


            <div class="form-group">
                <label asp-for="TotalDistance" class="control-label"></label>
                <input asp-for="TotalDistance" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="TotalTime" class="control-label"></label>
                <input asp-for="TotalTime" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="NextShuttle" class="control-label"></label>
                <input asp-for="NextShuttle" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="ShuttleNo" class="control-label"></label>
                <input id="shuttlenumber" asp-for="ShuttleNo" class="form-control" />

            </div>
            <div class="form-group">
                <label  asp-for="SpeedLevel" class="control-label"></label>
                <input id="shuttlespeedlevel" asp-for="SpeedLevel" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />

            </div>

            <div class="form-group">
                <input id="btnstopwatchstart"  value="Start" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("_AthleteListView.cshtml")
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var timeouthandle;
      
        var refreshComponent = function () {
            var shuttleNo = $("#shuttlenumber").val()
            var speedlevel = $("#shuttlespeedlevel").val()
            window.clearInterval(timeouthandle);
            $.get("/Home/GetStopWatchViewModel", { shuttleNumber: shuttleNo, speedLevel: speedlevel }, function (data) {
                $("#shuttlenumber").val(data.shuttleNo);
                $("#shuttlespeedlevel").val(data.speedLevel)
              
                timeouthandle= window.setInterval(refreshComponent, data.levelTime*1000)
            });
        };
        

        $("#btnstopwatchstart").click(function () {
            refreshComponent();
        });

    });
</script>
