@model DigitalMind.YoYoApp.Application.ViewModel.StopWatchViewModel

<h3>Shuttle</h3>
<div class="circlePercent">
    <div class="counter" data-percent="0"></div>
    <div class="progress"></div>
    <div class="progressEnd"></div>
</div>
<div style="text-align:center;">

    <div id="currentshuttlediv" style="text-align:center;border-radius: 50%;">
        <div class="form-group">
            <label class="control-label"> Shuttle</label>
            <label id="shuttlenumber" class="control-label"> </label>
            <br />
            <label class="control-label"> Level</label>
            <label id="shuttlespeedlevel" class="control-label"></label>
            <br />
            <label id="speed" class="control-label"></label>
            <label class="control-label">km/h</label>

        </div>
    </div>

    <div id="playbuttondiv" style="text-align:center;border-radius: 50%;">
        <button id="btnstopwatchstart" class="btn btn-default btn-timer button play" ></button>
    </div>
    <div class="row">
        <div class="col" style="padding-right:20px; border-right: 2px solid #ccc;">
            <div class="row" style="text-align:center;">
                <label class="control-label">Next Shuttle</label>

            </div>
            <div class="row" style="text-align:center;">
                <label id="nextShuttle" class="control-label"> </label>
            </div>
        </div>
        <div class="col" style="padding-right:20px; border-right: 2px solid #ccc;">
            <div class="row" style="text-align:center;padding-right:20px">
                <label class="control-label"> Total Time</label>
            </div>
            <div class="row" style="text-align:center;padding-right:20px">
                <label id="totalTime" class="control-label"> </label>
            </div>
        </div>
        <div class="col">
            <div class="row" style="text-align:center;padding-right:20px">
                <label class="control-label"> Total Distance</label>
            </div>
            <div class="row" style="text-align:center;padding-right:20px">
                <label id="totalDistance" class="control-label"> </label>
            </div>
        </div>
    </div>

</div>
<br />
<div>
    @await Html.PartialAsync("_AthleteListView.cshtml")
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var number = @ViewBag.TotalTimeForTest * 1000; //Accessing the number from the ViewBag
    var currentTimeLevel = @ViewBag.ShuttleInitialTime;

</script>
